---
import moment from 'moment';
import urlForImage from "../../../sanity/urlForImage";

import Card from '../../../components/Card.astro'

const { name, emoticon, photo, profile, links, lastOnline, theme } = Astro.props
---
<Card metadata={{title: name, emoticon: emoticon}} classes={["profile"]} theme={theme}>

  <div class="profile-content">

    <div class="profile-details">
      
        <div class="profile-photo">
          <img src={photo ? urlForImage(photo).fit("crop").crop("center").width(600).url() : ""} />
        </div>

        <div class="profile-about">
          <div class="profile-about-wrapper">
            { profile ? 
             <div>
                {profile.name ? <div>{profile.name}</div> : ""}
                {profile.pronouns ? <div>{profile.pronouns}</div> : ""}
                {profile.location ? <div>{profile.location}</div> : ""}
              </div>
            : "" }

            {profile && profile.bio ?  <div class="about-bio">{profile.bio}</div> : ""}
            {lastOnline ? <div class="profile-last-online"></div> : ""}
            </div>
        </div>

    </div>

    <div class="profile-links">
      <ul class="list">
        {links ? links.map(link => (
          <li class="list-item">
            <a href={link.url}>{link.text}</a>
          </li>
        )): ""}
      </ul>      
    </div>

  </div>

</Card>

<script define:vars={{ lastOnline }}>

  const element = document.querySelector('.profile-last-online')

  const now = new Date()
  const last = new Date(lastOnline)

  const daysSince = Math.round((now.getTime() - last.getTime()) / (1000 * 3600 * 24))
  element.innerHTML = daysSince == 0 ? `Last online today.` : `Last online ${daysSince} days ago.`

</script>