---
import { PortableText as PortableTextInternal } from 'astro-portabletext'
import PortableTextImage from "../sanity/PortableTextImage.astro";

import buildTheme from '../sanity/buildTheme'
import slugify from '../util/slugify'
import urlForImage from "../sanity/urlForImage";

import Card from './Card.astro'

const { posts } = Astro.props

const components = {
  type: {
    image: PortableTextImage,
  }
};
---

<section class="feed">

  {posts.length > 0 ? posts.map(post => (
    <Card
      title={post.author.name}
      date ={post._createdAt}
      link = { post.author.name !== "angelcities" ? `/artist/${slugify(post.author.name)}` : null}
      icon={urlForImage(post.author.photo).fit("crop").crop("center").size(25, 25).url()}
      classes={["post"]}
      theme = { post.author.blog_theme ? post.author.blog_theme : {}}
    >
      <PortableTextInternal value={post.body} components={components}/>
    </Card>
  )) : 
    <Card
        title = "???"
        date = ""
        icon = "empty"
        classes = {["post"]}
      >
     <p>So no posts? T_T</p>
    </Card>
  }

</section>