---
import slugify from '../util/slugify'
import urlForImage from "../sanity/urlForImage";

const { artist, theme } = Astro.props

const photo = artist.photo ? urlForImage(artist.photo).fit("crop").crop("center").size(75, 75).url() : '/logo/logo.gif'

// theme.site_profile_body_background_color = theme.site_profile_body_background_color ? theme.site_profile_body_background_color : 'rgba(0,0,0,0)'

---
<li  class="roster-artist">

  <style define:vars={theme ? theme : {}} />

  <div class="roster-photo">

    <a href={`/artist/${slugify(artist.name)}`}>

      <img src={photo} width="75" height="75" />

    </a>

  </div>

  <div class="roster-content">

    <div class="roster-content-inner">

        
        <a class="roster-name" href={`/artist/${slugify(artist.name)}`}>
          { artist.icon ? <img src={`/images/emoticons/${artist.icon}`} />: ''} {artist.name}
        </a>

      <div class="roster-links">

        {artist.links ? artist.links.map(link => 
          <span class="roster-link">
            <a href={link.url}>{link.text}</a>
          </span>
        ) : ""}
        
      </div>

    </div>

  </div>

</li>
